<section id="default" data-type="background">
	<section style="margin:0 auto; width:400px">
	asdf
	</section>
</section>
<main role="main">
   <%= render 'layouts/messages' %>
  
   <%= render 'layouts/trash'%>
</main>
