<section class="2012 top_nav_content">
  <h1>2012</h1>
  <article>
    


<h2><a class="link">Nová časová pásma zahraničního stravného 2012</a></h2>   
<div class="content">
     <p>Stravné na zahraniční cestě se poskytuje v souladu s <span>§ 170 zákoníku práce </span>zásadně v cizí měně. Zaměstnavatel obvykle určí zaměstnanci zahraniční stravné z výše základní sazby zahraničního stravného stanoveného vyhláškou.  Výše stravného se vypočítá podle základní sazby, a to stanovené pro stát, ve kterém zaměstnanec stráví v kalendářním dni nejvíce času. Za dobu strávenou mimo území České republiky se od 1. 1. 2012 poskytuje zahraniční stravné:</p>
     <ul>
     <li><span>ve výši základní sazby, jestliže cesta trvá déle než 18 hodin</span>,</li>
     <li><span>ve 2/3 výši, jestliže pracovní cesta trvá déle než 12 hodin, nejvýše 18 hodin</span>,</li>
     <li><span>v 1/3 výši, jestliže pracovní cesta trvá 12 hodin a méně, avšak alespoň 1 hodinu, nebo déle než 5 hodin, pokud zaměstnanci vznikne za cestu na území ČR právo na tuzemské stravné.</span></li>
     </ul>
     <p>Nově jsou tedy upravena jak časová pásma poskytovaného stravného, tak souběh tuzemského a zahraničního stravného v jednom dni. Je tedy upravena varianta, kdy při kombinaci práva zaměstnance na tuzemské stravné a současně na zahraniční stravné byla v podstatě zaměstnanci uhrazena čtyři jídla, která mají hodnotu snídaně, oběda nebo večeře. </p>
     <p><strong>Příklad: </strong></p>
    
     <p><i>Zaměstnanec vyjel na pracovní cestu z Prahy do Vídně. Na služební cestě na území Česka strávil v uvedený den 5,5 hodin a na území Rakouska 11 hodin.</i></p>
     <p>V roce 2011 měl nárok na tuzemské stravné ve výši 63 korun a na zahraniční stravné ve výši poloviční sazby, tj. 22,5 ze 45 EUR (sazba pro Rakousko).</p>
     <p>V roce 2012 má nárok na tuzemské stravné ve výši 64 korun a na zahraniční stravné ve třetinové výši, tj. 15 ze 45 EUR.</p>
     <p><strong>Příklady na kombinaci tuzemského a zahraničního stravného v roce 2012: </strong></p>
     <i>a) Zaměstnanec vyjel na pracovní cestu. Na území ČR strávil první den 4 hodiny, v zahraničí 4 hodiny. </i><br>
 Za první den mu nenáleží tuzemské stravné (měně než 5 hodin), ale náleží mu zahraniční stravné v třetinové výši (podmínka alespoň jedna hodina v zahraničí, tuzemské stravné nenáleží)<br>
 <i>b) Zaměstnanec vyjel na pracovní cestu. Na území ČR strávil první den 6 hodin, v zahraničí 4 hodiny. </i><br>
 Za první den náleží tuzemské stravné ve výši 64 korun, ale nenáleží zahraniční stravné (zahraniční cesta musí trvat déle než 5 hodin, pokud náleží tuzemské stravné).      <br>
 <h3>Krácení zahraničního stravného</h3>
 <p>Při krácení zahraničního stravného se postupuje obdobně jako při krácení stravného tuzemského. I tady je změna ve slovním spojení zaměstnavatel je oprávněn krátit na zaměstnanci přísluší. Jestliže bylo zaměstnanci během zahraniční pracovní cesty bezplatně poskytnuto jídlo, které má charakter snídaně, oběda nebo večeře, na které zaměstnanec finančně nepřispívá, přísluší zaměstnanci zahraniční stravné za každé poskytnuté jídlo ve výši: </p>
 <ul>
 <li>základní sazby snížené za každé bezplatné jídlo až o hodnotu 25 %</li>
 <li>dvoutřetinové základní sazby snížené za každé bezplatné jídlo až o hodnotu 35 % </li>
 <li>třetinové výši základní sazby snížené za každé bezplatné jídlo až o hodnotu 70 %.</li>
 </ul>
 <h3>Nekrácené stravné nebo krácení v nižší výši </h3>
 <p>Jestliže zaměstnavatel před vysláním zaměstnance na zahraniční pracovní cestu neurčí nižší hodnotu snížení stravného za poskytnutí bezplatného jídla, bude zaměstnanci poskytnuto stravné snížené o nejvyšší hodnotu stanovenou v <span>paragrafu 170</span>. Zaměstnavatel může před pracovní cestou určit nižší míru krácení. Maximum je však stanoveno zákoníkem práce. </p>
 <p>Zaměstnanci tedy <strong>přísluší </strong>krácená hodnota stravného a v případě, kdy zaměstnavatel určí jinou nižší hodnotu krácení stravného, bude toto stravné vyplacené nad rámec daňově uznatelným výdajem zaměstnavatele. Podmínkou je, že tento nadlimit bude na straně zaměstnance součástí jeho mzdy, včetně odvodu sociálního a zdravotního pojištění. Tedy obdobná úprava jaká se dosud používala při poskytování stravného ve vyšší výši, než stanoví <span>zákoník práce</span>. </p>


</div>
    
    
<h2><a class="link">Minimální zálohy OSVČ 2012</a></h2>   
<div class="content">
    
    
     <span>Zdravotní </span>1697,-<br>
 <span>Sociální  </span>1836,-<br>
 <span>Nemocenské </span>115,-<br>
 <h3>Změna u záloh OSSZ</h3>
  <p>Od 1.1.2012 všechny platby došlé na účet sociálky od 21. jednoho měsíce do 20. měsíce následujícího automaticky sečtou a přiřadí tomu staršímu měsíci. Tedy když 1.5. zaplatím podle mého dlužný březen (neměla jsem dříve na účtu peníze) a 15.5. zaplatím podle mého správně duben, sociálka obě platby sečte a ze zákona zařadí jako platbu za duben. Březen bude vymáhat jako dluh. Dosud platilo, že první platbu přiřadili dlužnému březnu a připočítali penále za pozdní úhradu, ale hlavně mi ta platba ve výsledku nechyběla.</p>
  <p>Poprvé se bude tímto způsobem postupovat u záloh na pojistné na důchodové a nemocenské pojištění za leden 2012. To znamená, že platby připsané na účet OSSZ do 20.2.2012 budou použity na úhradu zálohy a pojistného na leden 2012. Zdroj: Česká správa sociálního zabezpečení.</p>
     <a href="files/Tabulka_pro_vypocet_nemocenskeho_OSVC_2012_x.xls">Tabulka pro výpočet nemocenského OSVČ 2012</a>
    
     </div>
    
<h2><a class="link">Cestovní náhrady 2012</a></h2>   
<div class="content">
     <h3>Základní náhrady</h3>
     (§ 157/4 ZP)<br>
     Za 1 km 3,70 (stejně jako 2011)<br>
     <h3>Průměrné ceny PHM 2011 / 2012</h3>
     (§ 158/3 ZP)<br>
     Benzin 91 oktanů 31,40 / 31,40<br>
     Benzin 95 oktanů 31,60 / 34,90<br>
     Benzin 98 oktanů 33,40 / 36.80<br>
     Nafta 30,80 / 34,70<br>

    <h3>Tuzemské stravné</h3>
    <strong>Státní a příspěvková sféra</strong><br>
    (§ 176/1 ZP)<br>
    <strong>2011 / 2012</strong><br>
    5 – 12 hod.  63-74 / 64-76<br>
     12-18 hod. 95-114 / 96-116<br>
     nad 18 hod. 149-178 / 151-181<br>
 <br>
     <strong>Podnikatelská sféra</strong><br>
     (§ 163/1 ZP)<br>
     <strong>2011 / 2012</strong><br>
     5 – 12 hod. 63 / 64<br>
     12-18 hod. 95 / 96<br>
     nad 18 hod. 149 / 151<br>

 </div>
    
    
<h2><a class="link">Legislativní parametry 2012</a></h2>   
<div class="content">
     <p><br><strong>Příjem zakládající účast na nemoc.pojištění:</strong><br>
     2011 / 2 000,-<br>
     2012 / 2 500,-</p>
      <p><br><strong>Hranice pro účast na zdrav. a soc.pojištění:</strong><br>
     2011 / bez hranice<br>
     2012 / od 10 001,-</p>
      <p><br><strong>Redukční hranice pro nemoc.dávky:</strong><br>
    2011/2012<br>
     1.redukč.hranice 825,- / 838,-<br>
     2.redukč.hranice 1 237,- / 1 257,-<br>
     3.redukč.hranice 2 474 / 2 514,-<br></p>
      <p><br><strong>Rozhodný příjem pro důchod.pojištění jednatelů, společníků:</strong><br>
     2011 / 6 200,-<br>
    2012 / zrušeno</p>
     <p><br><strong>Sleva na poplatníka:</strong><br>
    2011 / 23 640,- (1 970,- měsíčně)<br>
    2012 / 24 840,- (2 070,- měsíčně)</p>
     <p><br><strong>Daňové zvýhodnění na dítě:</strong><br>
     2011 / 11 604,- (967,- měsíčně)<br>
    2012 / 13 404,- (1 117,- měsíčně)</p>
    
      <p><br><strong>Max.bonus:</strong><br>
     2011 / 52 200,- (4 350,- měsíčně)<br>
    2012 / 60 300,- (5 025,- měsíčně)</p>
    

</div>
    
<h2><a class="link">Režim přenesení daňové povinnosti pro stavební, monážní a související práce dle klasifikace</a></h2>   
<div class="content">
   
     <p><a href="http://cds.mfcr.cz/cps/rde/xchg/cds/xsl/legislativa_metodika_14436.html">http://cds.mfcr.cz/cps/rde/xchg/cds/xsl/legislativa_metodika_14436.html</a></p>
     <h3 style="font-size:10px">1. Vy  jste DODAVATELEM, provádíte práce dle zaslané klasifikace CZ-CPA 41-43</h3>
     <p>RPDP použijete pouze tehdy, pokud je:</p>
     <ul>
     <li><u>místo plnění v tuzemsku </u></li>
     <li><u>a Váš odběratel je plátcem DPH</u>. To ověříte na odkazu:</li>    
     </ul>
     <a href="http://adisreg.mfcr.cz/cgi-bin/adis/idph/int_dp_prij.cgi?ZPRAC=FDPHI1&amp;poc_dic=1">http://adisreg.mfcr.cz/cgi-bin/adis/idph/int_dp_prij.cgi?ZPRAC=FDPHI1&amp;poc_dic=1</a><br>
     <p>Po ověření vystavíte daňový doklad dle zaslaného vzoru RPDP (DPH = 0 a základ děna = cena celkem)</p>
     <p>Pokud Váš odběratel <strong><u>není plátcem DPH</u></strong>, pak vystavíte daňový doklad jako dosud, RPDP se nepoužije.</p>
      <h3 style="font-size:10px">2. Vy jste ODBĚRATELEM, provádíte práce dle zaslané klasifikace CZ-CPA 41-43</h3>
     <p><u>Pokud je Váš dodavatel plátcem DPH</u>, pak Vám vystaví daňový doklad v RPDP, tzn. DPH = 0 a základ daně = cena celkem.</p>
     <p><strong>Daňový doklad opět musí obsahovat všechny náležitosti dle zaslaného vzoru, jinak není možnost uplatnění DPH !!!</strong></p>
     <ul>
     <li><u>sdělení o tom, že výši daně je povinen doplnit a přiznat příjemce plnění </u>(= vy)</li>
     <li><u>DIČ plátce, pro kterého se zdanitelné plnění uskutečnilo </u>(= DIČ vaše)</li>
     <li>datum uskutečnění zdanitelného plnění</li>
     <li>základ daně, sazba daně, výše DPH = 0,-</li>
     <li>rozsah a předmět plnění</li>
     </ul>
     <p>Pokud Váš dodavatel <strong><u>není plátcem DPH</u></strong>, pak bude doklad stejný jako dosud.</p>
     <p>Sdělení, které musí být v RPDP na daňovém dokladu – viz vzor faktury:</p>
     <p>	<i>"Tento doklad je vystaven v režimu přenesení daňové povinnosti. Dle ustanovení § 92 e 	zákona 235/2004 Sb.o dani z přidané hodnoty ve znění pozdějších předpisů je daň 	povinen doplnit a přiznat příjemce plnění."</i></p>
     <p><a href="files/Klasifikace_CZ-CPA_41_-_43.pdf">Klasifikace_CZ-CPA_41_-_43.pdf</a></p>
         <p><a href="files/Vzor%20faktury%20RPDP%202012.doc">Vzor faktury RPDP 2012.doc</a></p>
         <p><a href="http://www.zivnostnik.cz/2/1/dph-ve-stavebnictvi-od-1-1-2012-cid270073/?wa=WWW11E3%20KG&amp;uid=2189959&amp;e=780503&amp;odkud=ENKGT">DPH ve stavebnictví od 1.1.2012</a></p>
</div>
    
<h2><a class="link">NOVELA ZP od 1.1.2012 </a></h2>   
<div class="content">
     <p><strong><u>Odstupné</u></strong> se podle ní bude řídit počtem odpracovaných let a omezuje také zaměstnávání na dobu určitou.  Výše odstupného se změní tak, že člověk, který odpracuje v podniku <strong>méně než rok</strong>, při propuštění dostane <strong>jeden průměrný měsíční plat</strong>. Pokud bude ve firmě <strong>od jednoho do dvou let</strong>, náležet mu budou <strong>dva platy</strong>. Když odpracuje <strong>více než dva roky</strong>, bude jako dosud jeho odstupné ve výši <strong>tří průměrných výdělků</strong>. </p>
     <p>Zvýší se časový limit na <strong><u>dohodu o provedení práce</u></strong> z nynějších 150 hodin za rok na <strong>300 hodin </strong>ročně. Novela zároveň nastavuje strop měsíčního příjmu na základě dohody o provedení práce na <strong>10 000 korun</strong>. Z příjmů nad tuto částku se pak bude platit zdravotní a sociální pojištění. </p>
     <p><strong>Práce na dobu určitou </strong>by podle novely neměla přesáhnout <strong>tři roky </strong>a u stejného podniku by se neměla opakovat <strong>víc než třikrát po sobě. </strong></p>
     <p>Zaměstnavateli dává novela možnost <strong>propustit zaměstnance</strong>, pokud ten zvláště hrubým způsobem poruší režim v pracovní neschopnosti. V souvislosti s tím Českomoravská konfederace odborových svazů (ČMKOS) upozorňovala, že výpověď z práce kvůli porušení režimu na nemocenské je podle ní protiústavní a že na to poukazovala i legislativní rada vlády. Podle svého tehdejšího upozornění bude žádat poslance a senátory, aby podali ústavní stížnost. </p>
     <p><strong>Potvrzení o zaměstnání po novele zákoníku práce </strong>bude zaměstnavatel nově povinen toto potvrzení vydat v případě skončení jakéhokoli základního pracovněprávního vztahu. Kromě toho se v „zápočtovém listu“ podle § 313 odst. 1 již, na rozdíl od dosavadní úpravy, <strong>nebude uvádět důvod skončení </strong>pracovněprávního vztahu pro porušení povinnosti vyplývající z právních předpisů vztahujících se k zaměstnancem vykonávané práci zvláště hrubým způsobem.</p>
     <p>Tento důvod, a také důvod, kdy ke skončení pracovněprávního vztahu dochází z důvodu porušení jiné povinnosti zaměstnance zvláště hrubým způsobem (srov. § 52 nové písm.. h) a nový § 301a), bude zaměstnavatel nově uvádět <strong>v odděleném potvrzení </strong>vydávaném na žádost zaměstnance pro účely podpory v nezaměstnanosti podle § 313 odst. 2 (lze používat předtištěného formuláře poskytovaného úřadem práce).</p>
     <p><strong>********************</strong></p>
     <p><strong><i>Podrobněji:</i></strong></p>
     <p><strong>PRACOVNÍ POMĚR NA DOBU URČITOU </strong></p>
     <p>Od 1. ledna 2012 bude možno sjednat pracovní poměr na dobu určitou mezi týmiž smluvními stranami <strong>až na dobu 3 roky </strong>(dosud až 2 roky) a tato doba může být ode dne vzniku prvého pracovního poměru <strong>opakována nejvýše dvakrát </strong>(za opakování pracovního poměru na dobu určitou se považuje i jeho prodloužení). V praxi to znamená, že maximální doba opakovaného trvání pracovního poměru na dobu určitou může dosáhnout <strong>až 9 let</strong>. Pokud však bude pracovní poměr sjednán na dobu kratší než 3 roky (např. na 6 měsíců), může být prodloužen nebo znovu sjednán již jenom dvakrát na celkem 2x až 3 roky. V takovém případě může tedy celková doba trvání pracovního poměru na dobu určitou činit nejvýše jen 6,5 roků. Jestliže od skončení předchozího pracovního poměru na dobu určitou mezi týmiž účastníky <strong>uplynula doba 3 let</strong>, k předchozímu pracovnímu poměru na dobu určitou se nepřihlíží (dosud tato doba přerušení činí alespoň 6 měsíců). Navržená úprava zabraňuje mnohačetným krátkodobým sjednáváním nebo opakovaným prodlužováním pracovního poměru na dobu určitou (nyní v rámci dvouletého období např. 8x po 3 měsících).</p>
     <p>Současně se však <strong>ruší dosavadní rozsáhlé výjimky </strong>umožňující sjednat pracovní poměr na dobu delší, než je maximální doba 2 let; jde o zastupování nepřítomného zaměstnance a o zvláštní podmínky provozu nebo povahu práce. Tyto výjimky již nebude možno nadále využít. Přechodná ustanovení proto ohledně písemné dohody uzavřené podle § 39 odst. 4 ZP nebo vnitřního předpisu vydaného k provedení téhož ustanovení, a to přede dnem nabytí účinnosti novely ZP, stanoví, že podle nich je možné postupovat ještě <strong>nejdéle po dobu 6 měsíců ode dne nabytí účinnosti této novely</strong>. Přechodné ustanovení však podobně neomezuje dobu, po kterou může trvat zastoupení nepřítomného zaměstnance, byl-li pracovní poměr na dobu určitou sjednán přede dnem nabytí účinnosti této novely.</p>
     <p>Na základě přechodných ustanovení lze však dovodit, že <strong>pokračuje-li pracovní poměr na dobu určitou</strong>, který byl sjednán přede dnem nabytí účinnosti novely (tedy do 31. 12. 2011 včetně) i po tomto dni, <strong>řídí se dosavadními právními předpisy</strong>. Jeho opakované sjednání nebo prodloužení po tomto dni je však možné již jenom dvakrát, a to za podmínek stanovených v novele ZP, tedy maximálně 2 x 3 roky.</p>
     <p>Nová právní úprava pracovního poměru na dobu určitou se - tak jako dosud - <strong>netýká agenturního zaměstnávání</strong>. Stejně tak je zachována též zákonná obrana zaměstnance proti postupu při sjednávání pracovního poměru na dobu určitou v rozporu s podmínkami stanovenými v § 39 odst. 2 ZP, ve znění této novely.</p>
     <p>
         <a href="files/priklady.docx">příklady</a></p>
     <p><strong>VÝPOVĚĎ </strong></p>
     <p>Pokud byla dána výpověď, skončí pracovní poměr uplynutím výpovědní doby, která musí být stejná pro zaměstnavatele i zaměstnance a činí nejméně 2 měsíce, s výjimkou vyplývající z nového § 51a (viz dále). Výpovědní doba smí být prodloužena jen individuální smlouvou mezi zaměstnavatelem a zaměstnancem (nikoli tedy již také jako dosud kolektivní smlouvou) a tato smlouva musí být písemná.</p>
     <p>V novém § 51a je stanoven první zákonný - „kvalifikovaný“ - výpovědní důvod na straně zaměstnance, neboť podle tohoto ustanovení platí, že byla-li výpověď ze strany zaměstnance dána v souvislosti s přechodem práv a povinností nebo přechodem výkonu práv a povinností z pracovněprávních vztahů (§ 338 a násl. ZP), skončí pracovní poměr nejpozději dnem, který předchází dni nabytí účinnosti tohoto přechodu. Protože není stanovena žádná omezující doba pro doručení takovéto výpovědi zaměstnancem, platí, že výpověď může být dána bezprostředně přede dnem přechodu práv a povinností a pracovní poměr skončí vždy dnem předcházejícím tomuto přechodu. To může způsobovat určitou nejistotu ohledně počtu skutečně převáděných zaměstnanců z předávajícího na přejímajícího zaměstnavatele. V případě skončení pracovního poměru na základě tohoto výpovědního důvodu však zaměstnanci právo na odstupné nepřísluší.</p>
     <p>Jak již bylo uvedeno v prvé části tohoto seriálu, novela přináší rozšíření předmětu úpravy zákoníku práce též o některá jiná práva a povinnosti zaměstnavatele a zaměstnance při dodržování režimu dočasně práceneschopného pojištěnce a stanoví rovněž některé sankce za jeho porušení. V souvislosti s tím se rozšiřuje okruh výpovědních důvodů na straně zaměstnavatele a v § 52 se připojuje k dosavadním výpovědním důvodům nový výpovědní důvod pod písm. h) spočívající v porušení režimu dočasně práceneschopného pojištěnce(dále jen „režim DPN“) zaměstnancem v době prvních 21 kalendářních dnů trvání jeho dočasné pracovní neschopnosti zvlášť hrubým způsobem.</p>
     <p>Povinnost zaměstnance dodržovat tento režim DPN, pokud jde o povinnost zdržovat se po dobu pracovní neschopnosti v místě pobytu a dodržovat dobu a rozsah povolených vycházek, je vedle zákona o nemocenském pojištění stanovena rovněž v novém § 301a ZP. V této souvislosti je také třeba připomenout, že oprávnění zaměstnavatele kontrolovat a postihovat porušení režimu DPN se týká pouze dvou jeho součástí, a to povinnosti pojištěnce zdržovat se po dobu pracovní neschopnosti v místě pobytu a dodržovat dobu a rozsah povolených vycházek.</p>
     <p>Dá-li zaměstnavatel zaměstnanci z tohoto důvodu výpověď, musí tak učinit pouze do 1 měsíce ode dne, kdy se o tomto důvodu k výpovědi dověděl, nejpozději však do 1 roku ode dne, kdy takový důvod k výpovědi vznikl (srov. nové znění § 57 ZP). Pokud byla zaměstnanci dána výpověď pro porušení režimu DPN, nelze mu z téhož důvodu snížit nebo neposkytnout náhradu mzdy nebo platu (srov. § 192 odst. 5 ve znění této novely).</p>
     <p>Závěrem připomínám, že pro každou výpověď z pracovního poměru je v ZP stanovenapísemná forma a její nedodržení má důsledky absolutní neplatnosti podle § 20 odst. 3 ve znění po novele ZP.</p>
     <p>ODSTUPNÉ </p>
     <p>Podle novely ZP se nově upravuje <strong>minimální výše odstupného</strong>, a to podle délky doby trvání pracovního poměru zaměstnance u zaměstnavatele s tím, že:</p>
     <ul>
     <li>trval-li pracovní poměr <strong>méně než 1 rok</strong>, přísluší zaměstnanci odstupné ve výši jednonásobku jeho průměrného měsíčního výdělku,</li>
     <li>trval-li <strong>více než 1 rok a méně než 2 roky</strong>, přísluší dvojnásobek PMV,</li>
     <li>trval-li <strong>více než 2 roky</strong>, přísluší trojnásobek PMV.</li>
     </ul>
     <p>Za dobu trvání pracovního poměru se považuje i doba trvání předchozího pracovního poměru u téhož zaměstnavatele, pokud doba od jeho skončení do vzniku následujícího pracovního poměru <strong>nepřesáhla dobu 6 měsíců</strong>. Odstupné z důvodu podle <strong>§ 52 písm. d)</strong> ZP ve výši nejméně dvanáctinásobku PMV <strong>není ovlivněno dobou trvání pracovního poměru.</strong></p>        
     <p>Nově se však v § 67 upravuje odstupné v případě skončení pracovního poměru zaměstnance <strong>v době uplatnění zvláštního postupu v kontu pracovní doby </strong>podle § 86 odst. 4 ZP, ve znění po novele. V tomto případě přísluší zaměstnanci při skončení pracovního poměru součet trojnásobku jeho PMV a částek odstupného podle délky trvání pracovního poměru [jak je uvedeno v § 67 odst. 1 písm. a) až c) ve znění po novele].</p>
     <p><strong>ZMĚNY V ÚPRAVĚ DOHOD O PRACÍCH KONANÝCH MIMO PRACOVNÍ POMĚR</strong></p>
     <p>Rozsah práce, na který bude možno od 1. 1. 2012 uzavřít dohodu o provedení práce (dále jen „DPP“), se z dosavadních 150 hodin v kalendářním roce <strong>zvyšuje na 300</strong>. Současně se však ukládá povinnost spočívající v tom, že v DPP musí být uvedena doba, na kterou se tato dohoda uzavírá. K tomu se jen připomíná, že již v roce 2011 byla zavedena povinnost sjednat (uzavřít) DPP <strong>výhradně jen písemně</strong>. Nebude-li DPP nebo dohoda o pracovní činnosti (dále jen „DPČ“) uzavřena písemně, <strong>je neplatná </strong>podle novelizovaného ustanovení § 20 odst. 1 a 2 ZP.</p>
     <p>Podle novelizovaného § 77 odst. 2 ZP se vztahuje na práci konanou na základě DPP a DPČ úprava pro výkon práce v pracovním poměru, což však neplatí, pokud jde o:</p>
     <ol type="1">
     <li>převedení na jinou práci a přeložení,</li>
     <li>dočasné přidělení (nový § 43a ZP),</li>
     <li>odstupné,</li>
     <li>pracovní dobu a dobu odpočinku, <strong>výkon práce však nesmí přesáhnout 12 hodin během 24 hodin po sobě jdoucích</strong>,</li>
     <li>překážky v práci na straně zaměstnance,</li>
     <li>dovolenou,</li>
     <li>skončení pracovního poměru,</li>
     <li>odměňování s výjimkou min. mzdy,</li>
     <li>cestovní náhrady.</li>
     </ol>   
     <p>V důsledku zvýšení limitu počtu hodin na DPP na dvojnásobek, jímž se tato dohoda svým rozsahem značně přibližuje rozsahu práce konané na DPČ, se v zákoně č. 187/2006 Sb., o nemocenském pojištění (dále jen „ZNP“), především v jeho novém § 7a, stanoví <strong>podmínky, za nichž je též zaměstnanec na DPP účasten nemocenského pojištění</strong>. Pojištění DPP má však značně odlišný právní režim na rozdíl od ostatních pojištěných zaměstnání, který vychází z toho, že zaměstnanci činní na základě DPP jsou účastni pojištění, jestliže splňují podmínku uvedenou v § 6 odst. 1 písm. a) ZNP a byl jim <strong>zúčtován započitatelný příjem v částce vyšší než 10 000 Kč</strong>.</p>
     <p>Pokud by dočasná pracovní neschopnost nebo karanténa zaměstnance na DPP vznikla v době, kdy je zaměstnanec účasten nemocenského pojištění, vztahuje se i na něj v plném rozsahu ust. § 192 až 194 ZP o náhradě <strong>odměny z dohody v období prvních 21 kalendářních dní </strong>trvání uvedené sociální události. Při určení pracovních dnů, za něž tato náhrada náleží, se postupuje podle „fiktivního“ rozvrhu pracovní doby do směn, které je pro tento účel zaměstnavatel povinen předem stanovit obdobně, jako je tomu u DPČ.</p>
     <p><strong>Shrnutí:</strong></p>
     <p><strong>Zkušební doba </strong>u vedoucích pracovníků může být sjednána na nejdéle 6 měsíců (dosud nejdéle 3 měsíce).</p>
     <p><strong>Odstupné </strong>při rozvázání pracovního poměru z důvodu organizačních změn bude podle počtu odpracovaných let u daného zaměstnavatele (dosud nejméně trojnásobek průměrného měsíčního výdělku).</p>
     <table class="cenik" align="center" width="100%">        
         <tbody><tr><td style="color:#ffffff" bgcolor="#164488">Délka pracovního poměru</td>
             <td style="color:#ffffff" bgcolor="#164488">Nárok na odstupné nejméně</td>
         </tr><tr>
             <td>méně než rok</td>
             <td>1x průměrný měsíční výdělek</td>
         </tr><tr>
             <td>jeden rok a méně než 2 roky</td>
             <td>2x průměrný měsíční výdělek</td>
         </tr><tr>
             <td>alespoň 2 roky</td>
             <td>3x průměrný měsíční výdělek</td>
         </tr>           
     </tbody></table>
     <p><strong>Pracovní poměr na dobu určitou </strong>bude možné sjednat až na 3 roky (nyní maximálně 2 roky) a u téhož zaměstnavatele bude možné jej sjednat opakovaně na tuto dobu ještě dvakrát (pravidlo celkem 3x a dost).</p>
     <p>Limit <strong>dohody o provedení práce </strong>u jednoho zaměstnavatele se zvýší ze 150 na 300 hodin za rok. Při příjmu z dohod o provedení práce nad 10.000 Kč měsíčně se bude platit sociální a zdravotní pojištění.</p>
     <p>Pro zvlášť hrubé porušení povinnosti práce neschopného zaměstnance, který nedodrží v době prvních 21 kalendářních dnů pracovní neschopnosti léčebný režim, bude nově možné dát zaměstnanci výpověď.</p>
     <p>Návrh zavádí zákonnou definici rovnoměrného a nerovnoměrného rozvržení pracovní doby a ruší nynější ustanovení o rozvrhování pracovní doby, čímž výrazně zjednodušuje celou problematiku.</p>
     <p>Novela zjednodušuje úpravu týkající se nevyčerpané dovolené.</p>
     <p>V oblasti odměňování novela například umožňuje sjednat mzdu s přihlédnutím k případné práci přesčas u všech zaměstnanců.</p>
     <p>Na základě dosavadních zkušeností se upravují a zpřesňují podmínky pro výplatu mezd a platů, a to jak v hotovosti, tak i bezhotovostním převodem na účet zaměstnanců.</p>
</div>
    
    
   
<h2><a class="link"> Nové výše sazeb DPH pro roky 2012 a 2013</a></h2>   
<div class="content">
     <p><strong>Od 1. ledna 2012</strong> zůstává základní daňová sazba ve výši 20 %, snížená daňová sazba se mění z <span>10 % na <strong>14 %</strong></span>. </p>
     <p><strong>Od 1. ledna 2013 </strong>dojde ke sjednocení sazeb DPH do <span><strong>jedné sazby 17,5 %</strong></span>, a to bez výjimek.</p>

</div>

<h2><a class="link">Omezení plateb v hotovosti - změna zákona</a></h2>   
<div class="content">
     <p>od 27.05.2011 neplatí <span>limit plateb v hotovosti stanovený na 15000 EUR</span>, byl změněn zákonem 139/2011 § 4 na <span>350&nbsp;000 Kč</span>:</p>
     NOVÉ ZNĚNÍ:<br>
     (1) Poskytovatel platby, jejíž výše překračuje částku 350 000 Kč (dále jen
 "limit") je povinen provést platbu bezhotovostně; to neplatí, jde-li o platbu, která musí být podle zvláštního právního předpisu2) provedena v hotovosti.<br>
 STARÉ ZNĚNÍ:<br>
 (1) Poskytovatel platby, jejíž výše překračuje částku 15 000 EUR (dále jen
 "limit") je povinen provést platbu bezhotovostně; to neplatí, jde-li o platbu, která musí být podle zvláštního právního předpisu [2] provedena v hotovosti. 
 <br>
 <br>
 A DÁLE JE TO STEJNÉ.<br>
 (2) Platba v české nebo jakékoliv cizí měně se pro účely tohoto zákona přepočte na měnu EURo směnným kursem devizového trhu vyhlášeným Českou národní bankou a platným ke dni provedení platby. <br>
 (3) Do limitu se započítávají všechny platby v české i cizí měně, provedené týmž poskytovatelem platby témuž příjemci platby v průběhu jednoho kalendářního dne. <br>
 (4) Překračuje-li platba limit, je příjemce platby povinen na výzvu poskytovatele platby sdělit bez zbytečného odkladu číslo účtu u peněžního ústavu, na který má být platba poukázána.<br>
</div>


  
  </article>
</section>