<section class="2013 top_nav_content">
  <h1>2013</h1>
  <article>
<h2><a class="link">Zvýšení minimální mzdy od 8/2013 na 8.500 Kč</a></h2>
<div class="content" >
          <p>
              Od 1. 8. 2013 se zvyšuje minimální měsíční mzda z 8.000 na <strong>8.500 Kč</strong>
              a minimální hodinové sazby z 48.10 na <strong>50.60 Kč</strong>. Také se zvalorizují
              nejnižší úrovně zaručené mzdy.
          </p>
          Nyní / od 1. 8. 2013 / nyní / od 1. 8. 2013<br>
          1. 48,10 / 50,60 / 8 000 / 8 500<br>
          2. 53,10 / 55,90 / 8 900 / 9 400<br>
          3. 58,60 / 61,70 / 9 800 / 10 400<br>
          4. 64,70 / 68,10 / 10 800 / 11 400<br>
          5. 71,50 / 75,20 / 12 000 / 12 600<br>
          6. 78,90 / 83,00 / 13 200 / 13 900<br>
          7. 87,10 / 91,70 / 14 600 / 15 400<br>
          8. 96,20 / 101,20 / 16 100 / 17 000<br>
          <p>
              <a href="http://www.student.cz/96-aktualni-informace/177-pozor-minimalni-mzda-se-lisi-pro-ruzne-profese-mame-celkem-8-urovni/">
                  Zaručená mzda – 8 skupin</a></p>
          <p>
              <span>Minimální mzda</span> = § 111 odst. 3 c) ZP = platí i pro odměny z dohod</p>
          <p>
              <span>Zaručená mzda</span> = § 112 odst. 3 ZP = chybí písmeno c) = na dohody se
              NEVZTAHUJE</p>
</div>
<h2><a class="link">Přehled výše nemocenského podle hrubé mzdy v příkladech</a></h2>
<div class="content">
          <a href="files/priklady_hruba_mzda.xlsx">Příklady.xlsx</a>
</div>
<h2><a class="link">Pozdní podání přiznání na FÚ</a></h2>
<div class="content">
          <p>
              Do konce minulého roku daňová správa sankcionovala každé pozdní podání přiznání
              či jiného hlášení. Od roku 2013 je v některých případech méně přísná.</p>
          <p>
              Daňový řád stanoví, že pokud nebude přiznání nebo jiné podání odesláno správci daně
              včas, stane se toto:</p>
          <ul>
              <li>když bude přiznání podáno<strong> do 5 pracovních dnů </strong>po uplynutí původní
                  lhůty, nemá to pro poplatníky či plátce žádné dopady, </li>
              <li>když bude přiznání podáno až po této lhůtě, bude uplatněna pokuta (0,05 % stanovené
                  daně nebo daňového odpočtu, popř.<strong> 0,01 % </strong>daňové ztráty za každý
                  následující den prodlení, maximálně však <strong>5 %</strong> uvedených hodnot).</li>
          </ul>
          <p>
              <strong>Pokuta nebude nižší než 500 Kč a vyšší než 300 000 Kč.</strong></p>
          <p>
              To vedlo v uplynulých letech k pokutě 500 Kč i za pozdní přiznání tzv. nulového
              nebo křížkového přiznání k DPH apod.</p>
          <p>
              <strong>Počínaje rokem 2013 se pokuta</strong> za opožděné tvrzení daně vzniklá
              v důsledku pozdního podání přiznání<strong> nepředepíše</strong> a daňovému subjektu
              nevzniká povinnost ji uhradit, dosáhne-li její výše vypočtená podle výše uvedených
              pravidel částku menší než<strong> 200 Kč</strong>.</p>
</div>

<h2><a class="link">Minimální zálohy OSVČ 2013</a></h2>
<div class="content">
          <span>Zdravotní </span>1748,-<br>
          <span>Sociální </span>1890,-<br>
          <span>Nemocenské </span>115,-<br>
</div>
<h2><a class="link">Prodejci tvrdého alkoholu musí mít od 17.10.2013 koncesi</a></h2>
<div class="content">
          <p>
              <i>Novela živnosten. Zákona – příloha č. 3, účinnost od 17.10.2013</i></p>
          <ul>
              <li>Novela se týká kromě<strong> prodejců lihovin v obchodě </strong>také podnikatelů,
                  kteří tvrdý alkohol prodávají <strong>v restauracích, cukrárnách, dopravních prostředcích…
                  </strong></li>
              <li>Podnikatelé podají na ŽÚ žádost o koncesi s předmětem podnikání „<strong>Prodej
                  kvasného lihu, konzumního lihu a lihovinů</strong>“, a to ve stanoveném termínu
                  6 měsíců ode dne účinnosti novely, <strong>tedy nejdéle do 16. dubna 2014.</strong></li>
              <li>Koncesi vystaví ŽÚ zdarma. Po půl roce (od 17.4.2014), pokud podnikatel o tuto koncesi
                  nepožádá, mu bude pozastavena činnost a bude si muset udělat novou živnost za poplatek.</li>
          </ul>
</div>
<h2><a class="link">DPH od 1.1.2013</a></h2>
<div class="content">
          <h3>
              Režim přenesení daňové povinnosti</h3>
          <p>
              § 29/2/c</p>
          <p>
              - na daňovém dokladu MUSÍ být nově uvedeno: <span>Daň odvede zákazník.</span></p>
          <p>
              <i>POZOR – zákon vyžaduje přesně tuto větu !!!! To, co se na daňový doklad psalo v r.
                  2012, tam být nemusí, případně může být navíc k výše uvedené větě.</i></p>
          <h3>
              Přijaté zálohové platby (zálohy) v Daňové evidenci</h3>
          <p>
              § 21</p>
          <p>
              - pokud obdržíte peníze dřív než nastane DUZP (na základě vystavené zálohové faktury
              nebo i bez vystavení zálohové faktury), musíte <span>do 15 dnů ode dne přijetí této
                  platby vystavit Doklad o přijaté záloze a zaplatit DPH</span>.</p>
          <p>
              - pak následně v konečné faktuře musíte vyúčtovat tento Doklad o přijaté záloze,
              resp. odvést DPH jen z doplatku</p>
          <h3>
              Povinnost zveřejňování bankovních účtů používaných pro ekonomickou činnost</h3>
          <p>
              § 96a § 98/1d</p>
          <p>
              do 28.2.2013 nahlásit FÚ čísla všech bankovních účtů, které jsou používány pro vaši
              podnikatelskou činnost
          </p>
          <p>
              <i>Správce daně zveřejní čísla bankovních účtů prvním dnem třetího kalendářního měsíce
                  následujícího po kalendářním měsíci nabytí účinnosti zákona, tj. 1. dubna 2013.
                  Tyto údaje budou k dispozici v informačních systémech o plátcích DPH.</i></p>
          <p>
              <i>Použití jiných účtů než zveřejněných bude důvodem pro ručení příjemcem zdanitelného
                  plnění za daň nezaplacenou poskytovatelem plnění (§109 odst. 2 písm. c) novely zákona).
                  V souladu s bodem 8 čl. II přechodných ustanovení lze institut ručení v tomto případě
                  uplatnit až od zveřejnění údajů správcem daně, tj. od 1. dubna 2013. Příjemce zdanitelného
                  plnění může také využít zvláštní způsob zajištění daně dle §109a zákona o DPH.</i></p>
          <p>
              <i>Smyslem tohoto opatření je zamezení daňovým podvodům, u nichž se k úhradě využívají
                  různé účty vedené třetími subjekty, aby správce daně nemohl efektivním způsobem
                  provést zajištění úhrady na nesplatnou nebo dosud nestanovenou daň.</i></p>
          <h3>
              Nespolehlivý plátce</h3>
          <p>
              § 109</p>
          <p>
              pokud si uplatníte odpočet DPH z dokladu od vašeho dodavatele, ručíte za jím nezaplacenou
              DPH mimo jiné když
          </p>
          <p>
              - je o dodavateli zveřejněna skutečnost, že je nespolehlivým plátcem (v okamžiku
              DUZP)</p>
          <p>
              - zaplatíte za tento doklad na jiný účet než je ten, který má váš dodavatel zveřejněn
              na FÚ (ke dni platby)</p>
          <p>
              <i>Správce daně zveřejní údaj o tom, zda plátce je či není nespolehlivým plátcem. Pokud
                  je v okamžiku uskutečnění o poskytovateli zveřejněno, že je nespolehlivým plátcem,
                  ručí odběratel za dodavatelem neodvedenou daň.</i></p>
          <p>
              <i>Informace o spolehlivosti jednotlivých plátců daně je od 1.1.2013 zveřejňována na
                  Daňovém portálu jako součást údajů v aplikaci „Registr plátců DPH“.</i></p>
          <p>
              <i>Nespolehlivým se může plátce DPH stát pouze na základě rozhodnutí správce daně. I
                  vzhledem k tomu, že toto rozhodnutí může správce daně vydat až na základě okolností
                  nastalých po účinnosti novely, tj. po 1.1.2013, je k dnešnímu datu u všech registrovaných
                  plátců jako platný údaj nastaveno, že nejsou nespolehliví.</i></p>
          <p>
              <i>Protože nespolehlivým se plátce stává v zásadě až na základě pravomocného rozhodnutí
                  správce daně, lze očekávat, že první změny údajů o nespolehlivosti plátce budou
                  publikovány na Daňovém portálu nejdříve v průběhu února.</i></p>
          <p>
              <i>Pro usnadnění orientace veřejnosti bude na internetových stránkách Finanční správy
                  ČR i přímo na Daňovém portálu umístěno avízo o zveřejnění první pozitivní informace
                  o nespolehlivém plátci daně. Do té doby nebude u žádného plátce zveřejněna informace,
                  že je nespolehlivým a daňová veřejnost nemusí tuto informaci samostatně vyhledávat.</i></p>
          <p>
              <i>Finanční správa ČR pracuje na technickém řešení, které umožní on-line zjišťování
                  spolehlivosti konkrétních plátců daně formou webové služby.</i></p>
          <h3>
              Daňové doklady</h3>
          <p>
              § 34/1
          </p>
          <p>
              - u daňového dokladu musí být zajištěno po dobu 10 let od konce zdaňovacího období,
              ve kterém se plnění uskutečnilo (§ 35/2)
          </p>
          <p>
              a) věrohodnost jeho původu (např. razítko+podpis, průvodní email, smlouva, objednávka..)
          </p>
          <p>
              b) neporušenost jeho obsahu
          </p>
          <p>
              c) jeho čitelnost (doklady na termopapírech kopírovat, nenechávat na sluníčku a
              v teple)</p>
          <p>
              d) zjednodušený daňový doklad na plnění do 10 000 Kč lze vystavit při jakékoliv
              formě úhrady, nejenom při platbě v hotovosti</p>
          <h3>
              RUČENÍ ZA DPH Z DŮVODU ÚHRADY NA NEZVEŘEJNĚNÝ ÚČET</h3>
          <p>
              Ručení za nezaplacenou daň GŘ posunulo od 1.1.2014 a mělo by se vztahovat jen na
              úplaty nad 700 tis. Kč.</p>
          <p>
              <a href="http://www.financnisprava.cz/assets/cs/prilohy/d-placeni-dani/2013_Informace_GFR_ruceni_za_nezaplacenou_dan.pdf">
                  http://www.financnisprava.cz/assets/cs/prilohy/d-placeni-dani/2013_Informace_GFR_ruceni_za_nezaplacenou_dan.pdf
              </a>
          </p>
</div>
<h2><a class="link">Cestovní náhrady 2013</a></h2>
<div class="content">
          <p>
              <i>(vyhláška MPSV 472/2012 Sb.)</i></p>
          <h3>
              Základní náhrady 2012/2013</h3>
          (§ 157/4 ZP)<br>
          Za 1 km 3,70 / 3,60<br>
          <h3>
              Průměrné ceny PHM 2012 / 2013</h3>
          (§ 158/3 ZP)<br>
          Benzin 95 oktanů 34,90 / 36,10<br>
          Benzin 98 oktanů 36,80 / 38,60<br>
          Nafta 34,70 / 36,50<br>
          <h3>
              Tuzemské stravné</h3>
          <strong>Státní a příspěvková sféra</strong><br>
          (§ 176/1 ZP)<br>
          <strong>2012 / 2013</strong><br>
          5 – 12 hod. 64-76 / 66-79<br>
          12-18 hod. 96-116 / 100-121<br>
          nad 18 hod. 151-181 / 157-188<br>
          <br>
          <strong>Podnikatelská sféra</strong><br>
          (§ 163/1 ZP)<br>
          <strong>2012 / 2013</strong><br>
          5 – 12 hod. 64 / 66<br>
          12-18 hod. 96 / 100<br>
          nad 18 hod. 151 / 157<br>
</div>
<h2><a class="link">Důchodové spoření – 2. Pilíř 2013</a></h2>
<div class="content">
          <h3>
              Výše zálohy</h3>
          <p>
              Zaměstnanec, který se přihlásí do II.pilíře, bude prostřednictvím zaměstnavatele
              odvádět měsíční zálohy pojistného na důchodové spoření ve výši 5 % vyměřovacího
              základu, kde 3 % budou přesunuty z I.pilíře a další 2 % bude vlastní příspěvek účastníka.</p>
          <h3>
              Měsíční hlášení zaměstnavatele</h3>
          <p>
              Zaměstnavatel – plátce pojistného na důchodové spoření je povinen elektronicky podat
              správci daně hlášení k záloze na pojistné podle jednotlivých poplatníků a za plátce
              pojistného celkem. Vzor tiskopisu, který bude sloužit jako podklad pro elektronické
              podání, již Generální finanční ředitelství zveřejnilo. Lhůta podání je do 20. dne
              od konce měsíce, ve kterém vznikla povinnost. Stejná lhůta bude pro platbu zálohy
              na účet správce daně.</p>
          <h3>
              Roční vyúčtování zaměstnavatele</h3>
          <p>
              Zaměstnavatel je také povinen podat správci daně elektronicky roční vyúčtování.
              Lhůta je do 3 měsíců po skončení roku.</p>
          <h3>
              Odkazy</h3>
          <ul>
              <li><a href="http://duchodovareforma.mpsv.cz/cs/">Důchodová reforma obecně</a></li>
              <li><a href="http://cds.mfcr.cz/cps/rde/xbcr/cds/duchodove_sporeni_info.pdf">Informace
                  GFŘ o zapojení do důchodové reformy</a></li>
              <li><a href="http://cds.mfcr.cz/cps/rde/xbcr/cds/5541_1.pdf">Tiskopis Hlášení k záloze
                  na důchodové spoření</a></li>
              <li><a href="http://cds.mfcr.cz/cps/rde/xbcr/cds/5541-a_1.pdf">Tiskopis Následné hlášení
                  k záloze na důchodové spoření</a></li>
              <li><a href="http://cds.mfcr.cz/cps/rde/xbcr/cds/5542_1.pdf">Tiskopis Vyúčtování pojistného
                  na důchodové spoření</a></li>
              <li><a href="http://cds.mfcr.cz/cps/rde/xbcr/cds/5542-1_1.pdf">Pokyny k vyplnění Vyúčtování</a></li>
          </ul>
</div>
<h2><a class="link">Jak správně zaplatit daň finančnímu úřadu v roce 2013</a></h2>
<div class="content">
          <p>
              <a href="http://cds.mfcr.cz/cps/rde/xchg/cds/xsl/ceska_danova_sprava_16801.html?year=0">
                  Krajské FÚ</a></p>
          <p>
              <a href="http://www.jezeksw.cz/aktuality/archiv/2013/01/07/transformace-financnich-uradu/">
                  Číselná struktura FÚ</a></p>
          <p>
              <a href="files/Seznam_FU-UzP_20130101-aktualni.xls">Adresy a DS FÚ</a></p>
          <p>
              Ke dni 1. lednu 2013 nabude účinnosti již platný zákon č. 456/2011 Sb., o Finanční
              správě České republiky, ve znění pozdějších předpisů, který nahrazuje dosavadní
              zákon č. 531/1990 Sb., o územních finančních orgánech, ve znění pozdějších předpisů.</p>
          <p>
              Ze současných 199 finančních úřadů bude výběrem daní nově od 1. ledna 2013 pověřeno
              pouze <strong>14 finančních úřadů </strong>umístěných podle správního (krajského)
              uspořádání České republiky a <strong>specializovaný finanční úřad </strong>se sídlem
              v Praze, který vznikl již k 1. 1. 2012.</p>
          <p>
              Pro bezproblémové placení daní je nutné znát odpovídající číslo bankovního účtu
              finančního úřadu. Úplný tvar čísla bankovního účtu pro úhradu určité daně místně
              příslušnému finančnímu úřadu se sestaví z<strong> předčíslí bankovního účtu, z matrikové
                  části a z kódu banky</strong>. Předčíslí bankovního účtu a matriková část jsou
              od sebe odděleny pomlčkou, za matrikovou částí bez mezery následuje <strong>lomítko
                  a směrový kód České národní banky </strong>(ČNB), u níž mají finanční úřady
              vedeny účty (kód 0710).</p>
          <p>
              <strong>Základní části bankovního účtu finančního úřadu pro placení daní jsou:</strong></p>
          <ul>
              <li><strong>Předčíslí bankovního účtu </strong>(PBÚ) v rozsahu dvou až pěti číslic jednoznačně
                  určuje druh daně, k jejímuž vybírání je účet zřízen. Pro konkrétní druh daně je
                  předčíslí vždy shodné pro všechny finanční úřady.</li>
              <li><strong>Matriková část </strong>určuje vlastní finanční úřad. Všechny bankovní účty
                  jednoho úřadu mají stejnou matrikovou část.</li>
          </ul>
          <p>
              Spolu s přechodem placení daní výhradně čtrnácti krajským finančním úřadům budou
              jejich bankovním účtům přiděleny <strong>nové matrikové části (matriky) platné od 1.
                  1. 2013</strong>. Jejich přehled je uveden v následující tabulce spolu s matrikou
              Specializovaného finančního úřadu, která zůstává stejná jako doposud:</p>
          <p>
              <strong>Finanční úřad pro hlavní město Prahu</strong>: 77628031</p>
          <p>
              <strong>Finanční úřad pro Středočeský kraj</strong>: 77628111</p>
</div>
<h2><a class="link">Ke vstupním prohlídkám</a></h2>
<div class="content">
          <p>
              Od 1.4.2012 platí zákon č. 373/2011 Sb., o specifických zdravotních službách. V
              § 53 a násl. upravuje tzv. pracovnělékařské služby a podle § 59 odst. 1 písm. b)
              se považuje za zdravotně nezpůsobilou jakákoli osoba, která se před vznikem pracovněprávního
              nebo obdobného vztahu (tedy i před uzavřením dohody o provedení práce nebo dohody
              o pracovní činnosti) nepodrobí <span>vstupní lékařské prohlídce.</span></p>
          <p>
              Zatím se v praxi povinnost vstupních prohlídek u prací konaných na základě dohod
              obvykle nevyžaduje (díky přechodným ustanovením zákona č. 373/2011 Sb., která dávají
              zaměstnavatelům roční legisvakanční lhůtu). Ministerstvo zdravotnictví se k problému
              postavilo tak, že až do 31.3.2013 se u dohod konaných mimo pracovní poměr uplatní
              § 103 odst. 1 písm. a) zákoníku práce – <strong>zaměstnavatel nesmí připustit, aby zaměstnanec
                  vykonával zakázané práce a práce, jejichž náročnost by neodpovídala jeho schopnostem
                  a zdravotní způsobilosti</strong>. Podle ministerstva zdravotnictví je do 31.3.2013
              na zaměstnavateli, aby u dohod konaných mimo pracovní poměr rozhodl o nutnosti zajistit
              vstupní lékařskou prohlídku pro své zaměstnance.</p>
          <p>
              Návrh novely, která by povinnost vstupních prohlídek u dohod o pracích konaných
              mimo pracovní poměr úplně zrušila, sice ministr zdravotnictví nepodpořil, <span>ale
                  slíbil vyřešení této situace do 31.3.2013 s tím, že vstupní lékařské prohlídky by
                  byly povinné v případech rizikových prací </span>podle zákona č. 258/2000 Sb.,
              o ochraně veřejného zdraví.</p>
</div>
<h2><a class="link">Redukční hranice 2013</a></h2>
<div class="content">
          <p>
              MPSV vyhlásilo pro účely nemocenského pojištění výše redukčních hranic pro úpravu
              denního vyměřovacího základu pro rok 2013 (Sdělení vychází pod číslem 336/2012 Sbírky
              předpisů.):</p>
          <ul>
              <li type="a">první redukční hranice <span>863 Kč</span> (<strong>838 Kč </strong>v roce
                  2012),</li>
              <li type="a">druhá redukční hranice <span>1295 Kč </span>(<strong>1257 Kč </strong>v
                  roce 2012),</li>
              <li type="a">třetí redukční hranice <span>2589 Kč </span>(<strong>2514 Kč </strong>v
                  roce 2012).</li>
          </ul>
</div>
<h2><a class="link">Evidence pracovní doby podle nových pravidel 2012</a></h2>
<div class="content">
          <p>
              Změny <span>zákoníku práce </span>platné od ledna 2012 neminuly ani evidenci pracovní
              doby. Zaměstnavatel musí nově vyznačit začátek a konec odpracované směny, noční
              a přesčasové práce atd. To je důležité jak pro stanovení nároků zaměstnance na příplatky,
              tak pro případ kontroly inspektorátu práce, která může prověřit dodržování přestávek
              na oddech či maximálního rozsahu přesčasů apod.
          </p>
          <p>
              Zákon však blíže nespecifikuje, jakým způsobem má být evidence vedena. Zda v minutách
              nebo jen v desítkách minut, jakou formou docházku zaměstnanců evidovat atd. Server
              Podnikatel.cz zjistil podrobnosti u odborníků na pracovní právo.</p>
          <h3>
              Změna v evidenci pracovní doby od ledna 2012</h3>
          <p>
              V souladu s <span>§ 96 zákoníku práce </span>je zaměstnavatel povinen vést u jednotlivých
              zaměstnanců evidenci s vyznačením začátku a konce:</p>
          <ul>
              <li type="a">odpracované směny, práce přesčas, další dohodnuté práce přesčas, noční
                  práce, doby v době pracovní pohotovosti</li>
              <li type="a">pracovní pohotovosti, kterou zaměstnanec držel.</li>
          </ul>
          <p>
              Zaměstnavatel musí umožnit na žádost zaměstnance nahlédnout do evidence a do jeho
              účtu mzdy a pořizovat si z nich výpisy či kopie. A to na náklady zaměstnavatele.</p>
          <p>
              Do konce roku 2011 stačilo evidovat odpracovanou pracovní dobu. Dnes již s touto
              evidencí nebo pouhým „čárkováním“ docházky zaměstnavatel rozhodně nevystačí. Slovo
              „pracovní doba“ bylo nahrazeno slovem „směna“, protože pojem „pracovní doba“ zahrnuje
              jak směnu, tak i práci přesčas. Samozřejmě je zde navíc ustanovení o povinné evidenci
              počátků a konců, a to u jednotlivých zaměstnanců. Důvodem je posouzení jejich vzniku
              na příplatky (za noční práci, za sobotu a neděli a za svátek) a dodržování poskytování
              minimálních odpočinků mezi směnami a v týdnu, přestávky v práci na jídlo a oddech,
              práce v den pracovního klidu, noční práce atd.</p>
          <h3>
              Musí být evidence v minutách?</h3>
          <p>
              Zajímalo nás, zda musí být začátky a konce odpracované doby v minutách nebo zaokrouhleny
              kupříkladu na desítky minut. Podle Františka Pospíšila z advokátní kanceláře <span>FABIAN
                  &amp; PARTNERS </span>je možné začátek v pracovní smlouvě stanovit libovolně. Nezbytné
              je však jeho stanovení. Je jedno jestli v minutách nebo hodinách. Stanovení konce
              pracovní doby až tak důležité není, neboť rozhoduje délka pracovní doby. Například
              pokud bude smluvená délka pracovní doby činit 8 hodin a začátek pracovní doby bude
              stanoven na 8:12 hod, tak konec pracovní doby bude (po přičtení minimálně 30 minut
              jako povinné přestávky v práci na jídlo a oddech) připadat na 16:42 hod., vysvětlil
              František Pospíšil.
          </p>
          <h3>
              Je nutné evidovat začátek a konec přestávky?</h3>
          <p>
              Zaměstnavatel je povinen v souladu s <span>§ 88 zákoníku práce </span>poskytnout
              zaměstnanci nejdéle po 6 hodinách nepřetržité práce přestávku na jídlo a oddech
              nejméně 30 minut. Otázkou je, jakým způsobem takovou přestávku zaevidovat. Záleží
              na pracovní smlouvě, kde si lze sjednat přestávku jinak, nesmí však být nikdy kratší
              než zákonem stanovených 30 minut, sdělil František Pospíšil. Upřesnil, že přestávku
              není nutné evidovat. Do pracovní doby se totiž nezapočítává.
          </p>
          <h3>
              Jakou formu evidence zvolit?
          </h3>
          <p>
              Způsob a forma evidence pracovní doby ani přestávky na jídlo a oddech zákonem stanovena
              není. Záleží výhradně na rozhodnutí zaměstnavatele, jakou formu evidence zvolí.
              Samozřejmě musí jít o způsob průkazný, jak pro účely posouzení nároků zaměstnance,
              tak pro účely případné kontroly inspekce práce. Zaměstnavatel si tak může vést evidenci
              pomocí sešitu či tabulky (zpravidla u menších zaměstnavatelů), elektronicky nebo
              jakkoliv jinak (u větších zaměstnavatelů bývá evidence vedena pomocí elektronických
              čipů nebo klasických “píchaček”), popsal František Pospíšil z advokátní kanceláře
              FABIAN &amp; PARTNERS.
          </p>
          <h3>
              Evidence docházky a pracovní doby není totéž</h3>
          <p>
              Ovšem evidence pracovní doby a evidence docházky pracovníků do zaměstnání není totéž.
              Evidence docházky, ať už se jedná o písemné záznamy zaměstnanců či nějaká forma
              elektronické evidence, ze které je patrná přítomnost zaměstnance na pracovišti není
              dokladem o odpracované délce pracovní doby. Jedná se vlastně o pouhý podklad k evidenci
              pracovní doby, její skutečné délce, práci přesčas, noční práci či práci v době pracovní
              pohotovosti.</p>
          <p>
              Stejně tak se údaje uvedené v docházce nemusí shodovat s vykazovanou délkou pracovní
              doby. Zaměstnanec má vstoupit na pracoviště v určitou (nejlépe zaměstnavatelem stanovenou)
              dobu a rovněž opustit toto pracoviště s časovou prodlevou po skončení pracovní doby.
              Je logické, že přítomnost zaměstnance na pracovišti nemusí vždy znamenat faktický
              výkon práce. Zaměstnavatel by měl adekvátně posoudit, jaký čas potřebuje zaměstnanec
              například k přesunu od místa evidence docházky na své pracoviště, k očistě po výkonu
              práce či převlečení se do pracovního nebo naopak civilního oděvu. Toto by mělo být
              stanoveno pracovním řádem nebo interním předpisem.
          </p>
</div>
<h2><a class="link">Úsporná opatření od roku 2013</a></h2>
<div class="content">
          <p>
              <i>K účinnosti od 1. 1. 2013 je třeba souhlas senátu, podpis prezidenta a vyhlášení
                  ve Sbírce předpisů ČR. Část navrhovaných opatření má vstoupit v účinnost příští
                  rok. Některá opatření mají mít ale jen omezenou účinnost, a to po dobu mezi lety
                  2013 až 2015.</i></p>
          <h3>
              Zvýšení sazeb DPH</h3>
          <p>
              Pro roky <strong>2013 až 2015 </strong>dojde ke zvýšení obou sazeb DPH o jedno procento,
              tedy na <strong>21 % a 15 %</strong>. Od roku 2016 se sazby sjednotí na 17,5 %.</p>
          <h3>
              Solidární zvýšení daně</h3>
          <p>
              Daň z příjmů fyzických osob (15 %) se zvýší <strong>o 7 % z rozdílu mezi součtem dílčího
                  základu daně podle § 6 a § 7 a 48násobkem průměrné mzdy </strong>(maximální
              vyměřovací základ sociálního pojištění) stanovené podle zákona upravující pojistné
              na sociální zabezpečení. Bude platit pro roky <strong>2013 až 2015</strong>.</p>
          <p>
              Při výpočtu podle § 38h/2 se záloha zvýší o solidární zvýšení daně u zálohy. Solidární
              zvýšení daně u zálohy činí 7 % z kladného rozdílu mezi:</p>
          * příjmy zahrnovanými do základu pro výpočet zálohy<br>
          * 4násobkem průměrné mzdy stanovené podle zákona upravujícího pojistné na sociální
          zabezpečení.<br>
          <p>
              Daňové přiznání je povinen podat poplatník, u něhož se zvyšuje o solidární zvýšení
              daně daň nebo záloha na daň z příjmů ze závislé činnosti.</p>
          <h3>
              Omezení výdajových paušálů</h3>
          <p>
              Stávající výše výdajových paušálů bude zachována.<br>
              U činností spadajících do paušálů ve výši <strong>40 %, resp. 30 %</strong> bude
              absolutní výše odpočtu prostřednictvím paušálu omezena <strong>800 tis. Kč, resp. 600
                  tis. Kč </strong>(tedy maximálním možným odpočtem rovným 40 %, resp. 30 % z
              mezního příjmu stanoveného ve výši 2 mil. Kč).</p>
          <h3>
              Zrušení slevy při uplatnění paušálu</h3>
          <p>
              Uplatní-li poplatník výdaje procentem z příjmů a součet dílčích základů, u kterých
              byly výdaje tímto způsobem uplatněny, je vyšší než 50 % celkového základu daně,
              nemůže:</p>
          <strong>* využít slevy na manželku (manžela)</strong><br>
          <strong>* uplatnit daňové zvýhodnění.</strong><br>
          <h3>
              Zrušení základní slevy pro pracují důchodce</h3>
          <p>
              V roce 2008 bylo důchodcům umožněno uplatňovat základní slevu na dani. Vláda ji
              chce <strong>od roku 2013 (do roku 2015)</strong> pro důchodce opět zrušit.</p>
          <h3>
              Zavedení srážkové daně vůči daňový rájům</h3>
          <p>
              V současné době se na příjmy zahraničních daňových rezidentů uplatňuje srážková
              daň ve výši 15 %. S účinností <strong>od roku 2013 </strong>chce vládat zvýšit sazbu
              této daně na úroveň <strong>35 %</strong>. Nevztahuje se na poplatníky ze států,
              se kterými má ČR uzavřenou smlouvu o zamezení dvojího zdanění.</p>
          <h3>
              Zvýšení daně z převodu nemovitostí</h3>
          <p>
              Od roku 2013 dojde ke zvýšení daně z převodu nemovitostí o jeden procentní bod (ze
              3 % na <strong>4 %</strong>).</p>
          <h3>
              Snížení a zrušení vratky spotřební daně z nafty</h3>
          <p>
              Osoby provozující zemědělskou prvovýrobu budou mít v roce 2012 nárok na vrácení
              <strong>40 %</strong> (dosud 60 %) spotřební daně z motorové nafty a <strong>57 %
              </strong>(dosud 80 %) spotřební daně z tzv. směsné nafty, které byly prokazatelně
              spotřebovány pro zemědělskou prvovýrobu. Od roku 2014 se navrhuje zrušení tzv. zelené
              nafty.</p>
          <h3>
              Zruší se strop na zdravotní pojištění</h3>
          <p>
              V současnosti činí strop pro sociální pojištění 48násobek průměrné mzdy a pro zdravotní
              pojištění 72násobek průměrné mzdy. Pro roky 2013 až 2015 by měl být strop pro zdravotní
              pojištění zrušen.</p>
</div>
     


  </article>
</section>