<% content_for :title do %>Odkazy<% end %>

<section class  = "links">
  <h3>Odkazy</h3>
  <article>
    <div class="col-sm-4 col">
      
      <div class = "in-header">
        užitečné odkazy
      </div>
   
      <div class = "body">
        <ul>
         <li><a href="http://wwwinfo.mfcr.cz/ares/">ARES</a></li>
         <li><a href="http://www.businessinfo.cz/">Business.center</a></li>
         <li><a href="http://www.businessinfo.cz/cz/rubrika/zmeny-od-roku-2012/1001697/">Business Info</a></li>
         <li><a href="http://www.cnb.cz/cs/financni_trhy/devizovy_trh/kurzy_devizoveho_trhu/denni_kurz.jsp">Denní kurzy  ČNB</a></li>
         <li><a href="http://epodatelna.justice.cz/ePodatelna/epo1200new/form.do">E-podatelna justice</a></li>        
         <li><a href="http://www.finance.cz">Finance</a></li> 
         <li><a href="http://www.cnb.cz/cs/platebni_styk/iban/iban.html">Kalkulátor IBAN</a></li> 
         <li><a href="http://www.nur.cz/">Národní účetní rada</a></li>
         <li><a href="https://or.justice.cz/ias/ui/rejstrik">Obchodní rejstřík</a></li>
         <li> <%= link_to "Pokyn č. D-300 - uplatňování zákona o daních z příjmů", "/files/pokyn_D_300.pdf" %> </li>
         <li> <%= link_to "Pokyn GFŘ č. D-6", "/files/PokynGFRcD6.pdf" %> </li>   
         <li><a href="http://adisreg.mfcr.cz/cgi-bin/adis/idph/int_dp_prij.cgi?ZPRAC=FDPHI1&amp;poc_dic=1">Registr českých plátců </a></li>
         <li><a href="http://ec.europa.eu/taxation_customs/vies/vieshome.do?selectedLanguage=EN">Registr plátců z EU </a></li>
         <li> <%= link_to "Struktura DIČ v EU", "/files/struktura_dic.pdf" %> </li>   
         <li><a href="http://www.rzp.cz/">Živnostenský rejstřík</a></li>
        </ul>
      </div>
   
    </div>
    <div class="col-sm-4 col">
      
      <div class="in-header">
        instituce
      </div>
 
      <div class = "body">
        <ul>
          <li>Vláda ČR <a href="http://www.vlada.cz/">www.vlada.cz</a></li>
          <li>Ministerstvo financí <a href="http://www.mfcr.cz/cps/rde/xchg/">www.mfcr.cz</a>,
            <a href="http://www.mfcr.cz/cps/rde/xchg/mfcr/hs.xsl/dc2_tiskopisy.html">tiskopisy</a></li>
          <li>Česká správa sociálního zabezpečení <a href="http://www.cssz.cz/cz/novinky/">www.cssz.cz</a>,
            <a href="http://www.cssz.cz/cz/tiskopisy/">tiskopisy</a>
          </li>
          <li>Všeobecná zdravotní pojišťovna <a href="http://www.vzp.cz/cms/internet/cz/">www.vzp.cz</a></li>
        </ul>
      </div>
      
    </div>
    <div class="col-sm-4 col">
      
      <div class = "in-header">
        zákony
      </div>
   
      <div class = "body">
        <ul>
         <li>Sbírka zákonů, poslední 4 týdny <a href="http://www.sbirka.cz/">www.sbirka.cz </a></li>
         <li>Daně a účetnictví (Verlag-Dashöfer) <a href="http://www.du.cz/">www.du.cz</a></li>
         <li>Sagit (nakladatelství) <a href="http://www.sagit.cz/">www.sagit.cz</a></li>
         <li>Účetní svět <a href="http://www.ucetnisvet.cz/">www.ucetnisvet.cz </a></li>
         <li>Tiskopisy <a href="http://www.form.cz/">www.form.cz</a></li>
        </ul>
      </div>
    </div>
  
  
  

 
  
  
</article>

 
</section>
