<% content_for :title do %>Ceník<% end %>

<section class="pricelist">
  <h3>Ceník</h3>
  <article>

    <p>Uvedené ceny jsou pouze orientační. Mohou se měnit jak směrem nahoru, tak i směrem dolů podle množství účetních případů a kvality dodaných podkladů. Veškeré ceny prací lze individuálně přizpůsobit v závislosti na mnoha faktorech. Díky nízkým režijním nákladům můžeme nabídnout opravdu nízké ceny na trhu při zachování vysoké kvality.</p>

    <p>Stálým klientům není účtováno přiznání k DPH a k silniční dani.</p>


    <table>
      <tr>
        <th colspan="2">
          Orientační ceník
        </th>
      </tr>
      <tr><td colspan="2">Vedení daňové evidence</td></tr>
      <tr><td>Převzetí daňové evidence</td><td>od 700,- Kč</td></tr>
      <tr><td>Položka v účetním deníku</td><td>od 17,- Kč</td></tr>
      <tr><td  colspan="2">Vedení účetnictví</td></tr>
      <tr><td>Převzetí účetnictví</td><td>od 1800,- Kč</td></tr>
      <tr><td>Položka v účetním deníku</td><td>od 23,- Kč</td></tr>
      <tr><td  colspan="2">Vedení mezd</td></tr>
      <tr><td>Zpracování mzdy</td><td>od 300,- Kč / osoba / měsíc</td></tr>
      <tr><td  colspan="2">Konzultace</td></tr>
      <tr><td>Hodinová sazba</td><td>od 500,- Kč </td></tr>
    </table>

  </article>
</section>