<% content_for :title do %>Relax<% end %>

<section class  = "links">
  <h3>Relax</h3>
  <article>
    <div class="col-sm-12">
      <div class="relax">
        <p><strong>GDPR</strong></p>
        <p>
        "Znáš nějakého experta na GDPR?"<br>
        -"Jasně!"<br>
        "Paráda a můžeš mi dát jeho e-mail, abych se s ním mohl spojit?"<br>
        -"Ne."<br>
      </p>
      <p><strong>GDPR v praxi</strong></p>
        <p>Nebožtík nedal souhlas se zveřejněním osobních údajů.

      <%= image_tag 'gdpr.jpg' %>
    </p>



        <p><strong>Dědictví:</strong></p>
        <p>
          V bance: „Dobrý den, pane, jak vám můžeme pomoci?“<br>
          „Dobrý den, já jsem dědil a chtěl bych si vybrat peníze z dědictví, co přišly na můj účet<br>
          Pracovník banky: „Jistě, samozřejmě. Máte tam pěknou sumu, mohl bych vám nabídnout termínovaný účet či výhodnou životní pojistku?“<br>
          „Vy jste mi asi špatně rozuměl, já jsem říkal, že jsem dědil, a ne, že jsem debil.“
        </p>
        <p><strong>Baseballová pálka:</strong></p>
        <p>
          Po třech hodinách strávených ve frontě na finančním úřadě a jednáních s otrávenými nepříjemnými úředníky se vytočený chlápek vydal do supermarketu koupit synkovi baseballovou pálku. U pultu se ho prodavačka ptá: „Budete platit kartou nebo hotově?”<br>Muž naštvaně vyhrkne: „Hotově!”<br>Pak si ale uvědomí, že prodavačka si takové chování nezaslouží a vysvětluje: „Promiňte, strávil jsem dopoledne na finančním úřadě…”<br>„Nic se nestalo. Chcete tu pálku zabalit, nebo se tam ještě vracíte?”
        </p>



        <p><strong>Dotaz na FÚ: „MOHU SI ODEPSAT LOŇSKÉ DANĚ JAKO ŠPATNOU INVESTICI ????“ </strong></p>
        <p>


        Zdá se Ti, že jsi opuštěný?<br>
        Že nikoho nezajímáš?<br>
        Že jsi úplně bezvýznamný?<br>
        Že na Tobě nikomu nezáleží?<br>
        Že nikdo nechce o Tobě nic vědět?<br>
        Že nikoho nezajímá, co vlastně děláš?<br>
        <strong>Tak zkus letos nepodat včas daně!</strong><br>
        </p>
        <p>
          <strong>Dopis z FÚ:</strong><br>
          <strong>„Vážený pane inženýre, vracíme Vám k přepracování Vaše daňové přiznání.  V kolonce „vyživované osoby“ nemůžete uvádět: vláda, parlament, úředníci a půl milionu cikánů.“</strong><br>
        </p>
        <p>
          <strong>Kdo je to účetní? </strong><br>
          <strong>Osoba, která vyřeší váš problém, o kterém nevíte, způsobem, který nechápete, za peníze, které nemáte.</strong><br>
        </p>
        <p>
        <strong>Sympozium chytrých hlav:</strong><br>
        Banální otázka: kolik je 2 na druhou?<br>
        Matematik: "Výsledkem je reálné číslo!"<br>
        Fyzik: "Řešení existuje!"<br>
        Chemik: "Výsledek je někde mezi 3,98 až 4,02!"<br>
        <strong>Účetní: "A kolik potřebujete aby to vyšlo??"</strong><br>
      </p>
        <p><strong>Murphyho zákon o špatném dnu</strong><br>Když už to vypadá, že už to horší být nemůže, v nejbližší budoucnosti to bude ještě horší.Když se ti zdá, že se situace zlepšuje, znamená to, že jsi něco nepostřehl.</p>
        <p class="blue"><strong>Murphyho zákon o daňovém přiznání</strong><br>Jediná možnost jak nezkazit daňové přiznání je nedělat ho.</p>
        <p><strong>Murphyho zákon o daních</strong><br>Daňová spravedlnost je teorie pro dívčí gymnázia.</p>
        <p><strong>Murphyho zákon o daních</strong><br>Nejasné zákony je nutné vykládat tak, aby daň byla co nejvyšší.</p>
        <p><strong>Murphyho zákon o financích</strong><br>Peníze nenadále spadlé z nebe obdržíte vždy současně s nečekanou složenkou na obnos ve stejné výši. </p>
        <p><strong>Murphyho zákon o strojích</strong><br>Nedej nikdy něčemu mechanickému znát, že máš naspěch.</p>
        <p><strong>Murphyho zákon o počítačích:</strong><br>Počítače jsou nejinteligentnější idioti na světě.</p>
        <p><strong>Murphyho zákon o úspěchu</strong><br>Zásada, jak v životě dosáhnout absolutního úspěchu:Nikdy neříkej všechno, co víš.</p>
        <p><strong>Murphyho zákon o počítačích</strong><br>Koupíte-li si nejnovější typ počítače, nejdéle za tři dny na trhu objeví typ ještě novější.</p>
        <p><strong>Murphyho zákon o učebnicích</strong><br>Učebnice se obyčejně skládají z částí psaných malými a částí velkými písmeny. Smyslem toho je: Velká písmena jsou podstata. Malá otázky v písemce.</p>
        <p><strong>Murphyho zákon o lidech a počítačích</strong><br>Kdyby byl Bůh stvořil člověka k tomu, aby používal počítač, byl by mu dal 16 prstů.</p>
        <p><strong>Murphyho zákon o čase</strong><br>Čím dříve odpadneš, tím více času získáš na dohánění. </p>
        <p><strong>Murphyho zákon o životě</strong><br>Jakákoliv situace, ať už je sebehorší, má schopnost se zhoršit.</p>
        <p><strong>Murphyho zákon o programátorech</strong><br>Programátor by byl poslední, kdo svůj program použije.</p>
        <p><strong>Murphyho zákon o chybách</strong><br>Počítač dovede během dvou vteřin udělat tolik chyb, jako dvacet lidí za dvacet let. </p>
        <p><strong>Murphyho zákon o počítačích</strong><br>Jedním z důvodů, proč počítač zastane víc práce než člověk, je, že nemusí zvedat telefony. </p>
        <p><strong>Murphyho zákon o počítačích</strong><br>Mýlit se je lidské. Ale něco dokonale zašmodrchat je možné pouze pomocí počítače. </p>
        <p><strong>Murphyho zákon o programech</strong><br>Jestliže se program osvědčí, je třeba jej změnit. </p>
        <p><strong>Murphyho zákon o programu</strong><br>Počítačový program dělá jen to, co mu řeknete, nikdy však nedělá to, co byste chtěli, aby dělal. </p>
        <p><strong>Murphyho zákon o problémech</strong><br>Jestliže zůstáváš klidný, zatímco ostatní ztrácejí hlavu, je to neklamná známka toho, že jsi problém nepochopil.</p>
        <p><strong>Murphyho zákon o počítačích</strong><br>Čím dražší notebook si pořídíte, tím dříve jej zapomenete na jakémkoli veřejném místě</p>
        <p><strong>Murphyho zákon o Windows</strong><br>Zamrzne-li vám nějaký program, stisknutí kláves CTRL+ALT+DELETE vám nepomůže. Klávesy CTRL+ALT+DELETE fungují jen tehdy, pokud je stisknete omylem.</p>
        <p><strong>Murphyho zákon o virech</strong><br>Hlásí-li počítač, že nemá dost místa na disku, má na disku místa dost. Minimálně dost na to, aby se do něj vešel nový virus.</p>
        <p><strong>Murphyho zákon o manuálech</strong><br>Pokud uživatelský manuál k příslušnému programu nebo zařízení vyšel a je k mání, je napsán v jazyce, který neovládáte.</p>
        <p><strong>Murphyho zákon o disketách</strong><br>Chcete-li mít 99% jistotu, že vaše data na disketě uchovají, musíte je nahrát na 99 disket.</p>
        <p><strong>Murphyho zákon o disketách</strong><br>Vkládáte-li do počítače disketu, která je naprosto v pořádku, vytáhnete ven disketu, která je naprosto v nepořádku.</p>
        <p><strong>Murphyho zákon o počítači</strong><br>Počítač ví – ale nepoví.</p>
        <p><strong>Murphyho zákon o počítači</strong><br>Čím menší má počítač paměť, tím více si toho musíte pamatovat vy.</p>
        <p><strong>Murphyho zákon o počítači</strong><br>Jediná zbraň, která je vám k dispozici je vypínač počítače.</p>
        <p><strong>Murphyho zákon o počítači</strong><br>Práce na počítači se podobá předem prohrané válce.</p>
        <p><strong>A ještě další Murphyho zákony:</strong><br><br>Nikdy se nepři s blbcem.Někdo by si nemusel všimnout, že je mezi Vámi rozdíl.
         <br><br>
         <strong>Je lepší být krásná než chytrá, protože průměrný muž lépe vidí než myslí.</strong><br><br>
         Dokud nepotřebujete odbočit vlevo, je silnice téměř prázdná.<br><br>
         <strong>Na životě miluju zejména tu rozmanitnost - každý den mě nasere někdo jiný.</strong><br><br>
         Povídá žena muži: "Nebýt tebe, tak bychom byli ideální pár."<br><br>
         </p>



      </div>
    </div>
  </article>
</section>
