<% content_for :title do %>Nabídka služeb<% end %>

<section class="pricelist">
  <h3>Nabídka služeb</h3>
  <article>
		
    <p>Vždy ždy Vám ráda poradím a navrhnu nejvhodnější řešení „šité přímo na míru“. Díky dlouholetým zkušenostem nabízím vysokou odbornost a tím záruku kvality i do budoucna - mám dlouhodobě bezproblémové vztahy nejen se svou klientelou, ale i se správci daně a ostatními úřady - důkazem jsou desítky kontrol a místních šetření s vysokou úspěšností. Pro Vaši jistotu mám sjednáno profesní pojištění odpovědnosti za škodu. Samozřejmností je loajálnost vůči zjištěným informacím.</p>
    
    <p>Výhodou externí účetní poradkyně jsou nesportně nižší náklady v porovnání se mzdou vlastního zaměstnance - ušetříte náklady na školení, dovolenou, nemoc. Pro doklady dojíždíme ke klientům a v případě zájmu zpracovávám účetnictví pomocí vzdáleného přístupu přes internet. Externí spolupráce napomáhá odstranění problému fluktuace.</p>
    
    
   <div class="header">
     účetní poradenství - konzultace
   </div>
   
   <div class="body">
     <ul>
       <li>povinnosti při založení a ukončení podnikání, včetně zpracování potřebných dokumentů</li>
       <li>daňová optimalizace = využití zákonných možností, jak ušetřit na daních (zákony umožňují paušální odpočty, přerušení odepisování a mnohé další možnosti, o kterých nebývá u podnikatelů velké podvědomí)</li>
       <li>informování klienta během roku o finančních výsledcích a možném daňovém zatížení</li>
       <li>rekonstrukce účetnictví za minulá léta</li>
       <li>archivace</li>
     </ul>

   </div>
   
   <div class="header">
    vedení daňové evidence
    </div>
   
   <div class="body">
     <ul>
       <li>peněžní deník</li>
       <li>pokladní kniha</li>
       <li>kniha pohledávek a závazků</li>
       <li>karty majetku</li>
       <li>záznamní povinnost k DPH</li>
       <li>účetní závěrka a daňové přiznání, včetně přehledů na pojišťovny</li>  
     </ul>
   </div>
    
  </article>
</section>