$blue: #0c69b6;
$dark-blue: #465a7a;
$light-blue: #7c8ba0;
$grey: #f0f0f0;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
	@extend .img-responsive;
	margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
	font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
	@extend .col-md-6;
	@extend .text-center;
}
.form {
	@extend .col-md-6;
}
.form-centered {
	@extend .col-md-6;
	@extend .text-center;
}
.submit {
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-lg;
}
main{
	@extend .container;
	&[role=main]{
		width:100%;
	}
	padding:0;
//	background-color: #fff;
}
article {
	@extend main;
	letter-spacing:0px;
}


section {
	@extend .row;
	margin-top: 20px;
}
body{
  font-size:13px;
}
.navbar-inverse .navbar-toggle{
  border-color:$dark-blue;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: $dark-blue;
}
