<article>
	<strong>Jitka Plánská</strong> &copy; 2008 - <%= DateTime.now.year %>. Vyrobeno v <a href="http://jedemedobaru.cz/">jedemedobaru.cz</a>, grafika: <strong>Lucie Kepplová</strong>, kód: <strong>Adam Plánský</strong>
</article>