<%# navigation styled for Bootstrap 3.0 %>
<div class="header">
    <div class="container top_nav">
  	  <ul>
  		  <li><span class="glyphicon glyphicon-earphone"></span>+420 606 419 246</li>
  		  <li><span class="glyphicon glyphicon-envelope"></span>jitka@planska.cz</li>
  	  </ul>
    </div>
</div>


