<%# navigation styled for Bootstrap 3.0 %>
<div class="header">
    <div class="container top_nav col-sm-6">
  	  <ul>
  		  <li><span class="glyphicon glyphicon-earphone"></span>+420 606 419 246</li>
  		  <li><span class="glyphicon glyphicon-envelope"></span>jitka@planska.cz</li>
  	  </ul>
    </div>
    <div class="top_nav pull-right col-sm-6">
      <ul class="right_links">
        <li><%= link_to 'Aktuálně', page_path('actually')%></li>
        <li><%= link_to 'Info', page_path('info')%></li>
        <li><%= link_to 'Archiv', page_path('archiv')%></li>
      </ul>
    </div>
</div>
